<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/intern_report.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');
    </style>
    <title>Intern Report</title>
</head>

<body>
    <div class="header">
        <h2>Intern information</h2>
    </div>
    <div class="information">
        <div id="intern_image">
        </div>
        <div id="intern_info">

        </div>
    </div>
    <div id="other">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Certificate Name</th>
                        <th>Institute</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody id="certificate"></tbody>
            </table>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Designation</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody id="attachment"></tbody>
            </table>
        </div>
        <div class="extra">
            <div class="label">
                <p class="center">Sponsor</p>
                <div id="sponsor"></div>
            </div>
            <div class="label">
                <p class="center">Next of Kin</p>
                <div id="kin"></div>
            </div>
            <div class="label">
                <p class="center">Referee</p>
                <div id="referee"></div>
            </div>
        </div>

    </div>
    <button id="go" hidden>go</button>
    <button id="cancel" hidden>cancel</button>
</body>

</html>